/* Tags */
body { background: #ffffff }

/* Cor do texto */
a {color: #eef0f2;
	text-decoration: none;}

/* Cor, fonte e sombra do parágrafo */
p { color: #000000;
	font-size: 25px;
  text-align: justify;}

/* Cor e sombra do Titulo h1 */
h1 {color: #000000;
  padding: 40px;
	text-align: center;}

/* Toda a página tem o margin e padding 0 para deixar tudo 
junto e toda a fonte da página é Helvética ou Arial */
* { margin: 0;
	padding: 0;
	font-family: Helvetica, Arial;}

/* O cabeçalho vai ter o fundo azul escuro */
header {background: #1c8fdf;
		height: 90px;
		padding: 10px;}

/* O estilo do rodapé */
footer { background: #1c8fdf;
		min-height: 105px;
		clear: both; 
		text-align: center;
		padding: 10px;
		color: #eef0f2;
		}
  
header h1 { color: #ffffff;
  font-size:  40px;
  padding: 30px;
  text-aling: center;}

/* IDs */

/* A logo vai está no canto esquedo */
#logo { float: left; }

#logo_inicial { float: center}

/* O menu vai está no canto direito */
#menu {
  margin-top: 25px;}

/* O estilo do menu */
#menu a { text-decoration: none;
		color: #ffffff; 
		font-family: Cambria; ;
		padding: 0px 20px;
		font-size: 20px;}

/* A cor que vai ter quando o mouse passar em cima */
#menu a:hover {
  transition-duration: 1s;
  color: #000000;
}

/* Estilo da descrição do rodapé */
#descricao p{
  color: #ffffff;
  font-family: Cambria; ;
  padding: 10px 0px 0px 0px;
  font-size: 15px;
  text-align: center;
}

/* Posição da foto da page home */
#principal img { float: right;
margin: 85px}

/* Posição do texto ao lado da imagem da page home */
#principal p { padding: 100px 20px 50px 10px}

/* Posição do texto da page sobre (Slum) */
#principal-um p { padding: 70px 10px 70px 10px}
#principal-um img { float: left;
margin: 30px}

/* Posição do texto da page sobre (equipe) */
#equipe p { padding: 10px 20px 50px 10px}

/* Posição da foto da page sobre (Claudio) */
#mg img { float: left;
margin: 10px}
#mg p { padding: 180px 30px 50px 370px}

/* Posição da foto da page sobre (Esdras) */
#gd img { float: right;
margin: 10px}
#gd p { padding: 180px 370px 50px 30px}

/* Posição da foto da page sobre (Jean) */
#ap img { float: left;
margin: 10px}
#ap p { padding: 180px 30px 50px 370px}

/* Posição da foto da page sobre (Luiz) */
#ll img { float: right;
margin: 10px}
#ll p { padding: 180px 370px 50px 30px}

/* Posição do texto da page portfólio */
#equipe1 p { padding: 10px 20px 50px 10px}

/* Posição da foto da page portfólio */
#arbor img { float: right;
margin: 10px}
#arbor p { padding: 120px 370px 100px 30px}

/* Posição da foto da page portfólio */
#capi img { float: left;
margin: 10px}
#capi p { padding: 120px 30px 100px 370px}

/* Posição da foto da page portfólio */
#eva img { float: right;
margin: 10px}
#eva p { padding: 120px 370px 100px 30px}

/* Posição do texto ao lado da imagem da page serviços */
#servicos p { padding: 10px 50px 10px 30px}
#servicos img { float: right;
margin: 30px 150px 100px 30px}

/* Efeito de aproximação das logos do Face e Insta */
img{
 max-width: 100%;
 align-items: center;
}
#redes {
 margin: 15px;
}
#redes img{
 -webkit-transition: all 0.7s ease;
 transition: all 0.7s ease;
}
#redes img:hover {
 -webkit-transform: scale(1.2);
 transform: scale(1.2);
}

/* Classes */
.container { width: 1366px;
		margin: auto; }

.container-2 { width: 1349px;
		margin: auto; }

.main-1 {min-width: 320px;
max-width: 1500px;
padding: 0px;
margin: auto;}

@media screen and (max-width: 600px){
  header img {
    width:100%;
  }
  
  #principal img{
    margin: 30px 50px 50px 30px;
  }

  footer img {
    width: 30px;
  }

}